<template>
    <v-row class="product-by-id pa-4" :justify="$vuetify.breakpoint.smAndUp? 'center' : 'start' ">
        <v-col cols="8" class="mt-8" v-if="getLoading" align="center">
            <v-progress-circular
            :size="100"
            color="#D70472"
            indeterminate
            ></v-progress-circular>
            <h3 class="subtitles mt-6">Carregando produtos...</h3>
        </v-col>
        <v-row v-else class="ma-0">
            <v-col cols="12" class="px-3 mb-3">
                <PageTitle icon="mdi-plus-box-outline" :main="product.name" :sub="`REF: ${product.ref}`" />
            </v-col>
            <v-col cols="12" md="4">
                <v-img
                :max-height="$vuetify.breakpoint.smAndDown ? '400' : '600'"
                :max-width="$vuetify.breakpoint.smAndDown ? '300' : '500'"
                :src="product.imageUrl"
                ></v-img>
            </v-col>
            <v-col cols="12" md="5">
                <h4>REF: {{ product.ref }}</h4>
                <h2>{{ product.name }}</h2>
                <h4>Quantidade disponível: {{ product.quantityInStock }}</h4>
                <h3>{{ service.formatCurrency(product.price) }}</h3>

                <v-select
                :items="items"
                label="Tamanho"
                dense
                v-model="defaultSelected"
                item-text="sizeName"
                item-value="sizeId"
                return-object
                class="mt-4"
                @change="changeProduct(defaultSelected)"
                >
                    <template slot="selection" slot-scope="data">
                        {{ data.item.sizeName }}
                    </template>
                    <template slot="item" slot-scope="data" class="pb-10" >
                        <v-row>
                            {{ data.item.sizeName }} - {{ data.item.quantityInStock }} disponíveis.
                        </v-row>
                    </template>
                </v-select>

                <v-text-field
                    v-model="product.amount"
                    :rules="maxAmount"
                    label="Quantidade"
                    type="number"
                ></v-text-field>

                <v-btn 
                :disabled="product.quantityInStock === 0 || (!getUser.admin && !getUser.reseller)"
                :class="$vuetify.breakpoint.smAndDown ? 'btn-add-cart' : '' "
                @click="addToCart"
                color="#ff7979"
                class="mt-2"
                dark
                > Adicionar ao carrinho </v-btn>

                <div class="product-description mt-5">{{ product.description }}</div>

                <v-row :justify="$vuetify.breakpoint.smAndDown ? 'end' : 'start'">
                    <v-col cols="6" md="3">
                        <v-btn
                        @click="backToProducts"
                        dark
                        class="mt-4 btn-add-cart"
                        > Voltar </v-btn>
                    </v-col>
                </v-row>
                
            </v-col>
        </v-row>
    </v-row>
      
</template>

<script>
import PageTitle from '../template/PageTitle'
import service from '@/service/'
import { mapGetters, mapActions } from 'vuex';
export default {
    name: 'ProductsItem',
    components: { PageTitle },
    data() {
        return {
            defaultSelected: {},
            service,
            product: {},
            maxAmount: [ 
                v => ( v && v <= this.product.quantityInStock || this.product.quantityInStock == undefined || v == "" ) 
                || `Apenas ${this.product.quantityInStock} em estoque.`,
            ],
            items: []
        }
    },
    computed: {
        ...mapGetters({
            getProductById: 'Products/getProductById',
            getCart: 'Sales/getCart',
            getProductByRef: 'Products/getProductByRef',
            getLoading: 'Loading/getLoading',
            getUser: 'Auth/getUser'
        }),
    },
    methods: {
         ...mapActions({
            setProductByid: 'Products/setProductById',
            setProductToCart: 'Sales/setProductToCart',
            setProductByRef: 'Products/setProductByRef',
            clearLoading: 'Loading/clearLoading',
            setLoading: 'Loading/setLoading',
        }),
        addToCart(){
            this.setProductToCart(this.product)
        },
        backToProducts(){
            this.$router.go(-1)
        },
        changeProduct(product){
            this.product = product
        },
        setInitialProduct(){
            this.sortProducts()
            this.product = this.items[0]
            this.defaultSelected = this.product
        },
        sortProducts(){
            this.items = this.getProductByRef.slice()
            this.items = 
            this.items
                .filter( product => product.quantityInStock > 0 )
                    .sort( (a, b) => a.size_id < b.size_id ? -1 : 1 )
        }
    },
    async created(){
        this.setLoading()
        await this.setProductByid(this.$route.params.id)
        this.product = this.getProductById
        await this.setProductByRef(this.product.ref)
        this.setInitialProduct()
        this.clearLoading();
    }
}
</script>

<style>
    .product-by-id h2{
        font-weight: 500;
    }
    .product-by-id h3{
        font-weight: 300;
    }
    .product-by-id h4{
        font-weight: 300;
    }
    .product-by-id .btn-add-cart{
        width: 100%;
    }
    .product-by-id .v-image{
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
</style>