<template>
    <v-row class="my-sales">
        <v-col cols="12">
            <PageTitle icon="mdi-calendar-clock" main="Meus pedidos" sub="Gerencie seus pedidos." />
        </v-col>
        <v-col cols="12" class="mt-8" v-if="getLoading" align="center">
            <v-progress-circular
            :size="100"
            color="#ff7979"
            indeterminate
            ></v-progress-circular>
            <h3 class="subtitles mt-6">Carregando suas vendas...</h3>
        </v-col>
        <v-col cols="12" md="4" class="card-item"
        v-for="(sale, key) in sales"
        :key="key">
            <v-card v-if="!getLoading" class="card-content pa-5" >
                <v-row class="ma-0" :justify="$vuetify.breakpoint.smAndDown ? 'center' : 'start' ">
                    <v-col cols="6" md="6">
                        <v-img
                        v-if="sale.fulfilled"
                        :max-height="$vuetify.breakpoint.smAndDown ? '400' : '160'"
                        :max-width="$vuetify.breakpoint.smAndDown ? '300' : '150'"
                        src="@/assets/delivered-icon.png"
                        ></v-img>
                        <v-img
                        v-else
                        :max-height="$vuetify.breakpoint.smAndDown ? '400' : '160'"
                        :max-width="$vuetify.breakpoint.smAndDown ? '300' : '150'"
                        src="@/assets/production-icon.svg"
                        ></v-img>
                    </v-col>
                    <v-col cols="12" md="6" :align="$vuetify.breakpoint.smAndDown ? 'center' : 'start'">
                        <strong>Pedido #{{ sale.id }} <br /></strong>
                        <strong>Valor do pedido:</strong> {{ service.formatCurrency(sale.total_sale) }} <br />
                        <strong>Data do pedido:</strong> {{ $moment(sale.sale_date).format('DD/MM/YYYY') }} <br />
                        <strong>Previsão de entrega:</strong> {{ service.deliveryForecast(sale.sale_date) }}<br />
                        <span v-if="sale.fulfilled"><strong>Status:</strong> Pedido entregue.</span>
                        <span v-else><strong>Status:</strong> Pedido em produção.</span>
                        <v-row class="ma-0" justify="center">
                            <v-col cols="5" md="12" class="pa-0">
                                <v-checkbox
                                    v-model="sale.fulfilled"
                                    disabled
                                    label="Atendido? "
                                ></v-checkbox>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
                <v-col cols="12" class="pa-0" :align="$vuetify.breakpoint.smAndDown ? 'center' : 'start'">
                    <v-btn @click="goToSaleDetail(sale.id)" dark> Ver detalhes </v-btn>
                </v-col>
            </v-card>
        </v-col>
        <v-col v-if="!getLoading" cols="12" class="pa-0">
            <v-row v-if="sales.length > 0" class="ma-0" :justify="$vuetify.breakpoint.smAndDown ? 'center' : 'start'">
                <v-pagination
                    v-if="getMySales.limit"
                    v-model="page"
                    color="#ff7675"
                    :length="Math.ceil(getMySales.count/getMySales.limit)"
                    @input="changePage"
                ></v-pagination>
            </v-row>
            <v-row v-else class="ma-0" :justify="$vuetify.breakpoint.smAndDown ? 'center' : 'start'">
                <v-col>
                Nenhum pedido. <router-link exact to="/products" class="nav-bar"> Ir para o catálogo. </router-link>
                </v-col>
            </v-row>
        </v-col>
    </v-row>
</template>

<script>
import PageTitle from '@/components/template/PageTitle'
import { mapGetters, mapActions } from 'vuex';
import service from '@/service'
export default {
    components: {
        PageTitle
    },
    data(){
        return {
            service,
            sales: {},
            page: 1,
            deadline: 7
        }
    },
    computed: {
		...mapGetters({
            getMySales: 'Sales/getMySales',
            getUser: 'Auth/getUser',
            getLoading: 'Loading/getLoading'
        })
	},
    methods: {
        ...mapActions({
            setMySales: 'Sales/setMySales',
            setLoading: 'Loading/setLoading',
            clearLoading: 'Loading/clearLoading'
        }),
        goToSaleDetail(id){
            this.$router.push({path: `/sale/${id}`})
        },
        async changePage(){
            const payload = {
                userId: this.getUser.id,
                page: this.page
            }
            await this.setMySales(payload)
            this.sales = this.getMySales.data
        }
    },
    async created(){
        this.setLoading()
        const payload = {
            userId: this.getUser.id,
            page: this.page
        }
        await this.setMySales(payload)
        this.sales = this.getMySales.data
        this.clearLoading()
    }

}
</script>

<style>
    .my-sales .card-content {
        height: 100%;
    }
</style>