<template>
	<div class="product-admin">
        <v-row :justify="$vuetify.breakpoint.mdAndUp? 'end' : 'center'" class="ma-0 pa-3 pt-md-3 pt-6">
            <v-btn color="#ff7675" @click="getProduct(null, 'save')" dark> Cadastrar produto </v-btn>
        </v-row>
        <v-col cols="12" class="mt-8" v-if="getLoading" align="center">
            <v-progress-circular
            :size="100"
            color="#ff7979"
            indeterminate
            ></v-progress-circular>
            <h3 class="subtitles mt-6">Carregando os produtos...</h3>
        </v-col>
        <v-col v-else cols="12">
            <v-data-table
                :headers="headers"
                :items="products"
                :items-per-page="5"
                class="elevation-1"
                :search="search"
            >
                <template v-slot:top>
                    <v-col cols="12" md="4" class="pa-0">
                    <v-text-field
                    v-model="search"
                    label="Pesquisar"
                    class="mx-4"
                    append-icon="mdi-magnify"
                    ></v-text-field>
                    </v-col>
                </template>
                <template v-slot:[`item.actions`]="{ item }">
                    <v-btn @click="getProduct(item, 'edit')" class="mr-3"><v-icon> mdi-account-edit </v-icon></v-btn>
                </template>
                <template v-slot:[`item.price`]="{ item }">
                    {{service.formatCurrency(item.price)}}
                </template>
            </v-data-table>
        </v-col>
        <v-dialog
            v-model="dialog"
            width="500"
            >
            <v-card>
                <v-card-title class="headline grey lighten-2">
                    {{titleModal}}
                </v-card-title>

                <v-card-text class="mt-4 pb-0">
                    <h3><center>{{textModal}}</center></h3>
                </v-card-text>

                <v-card-text>
                    <v-col cols="12" class="py-0">
                        <v-text-field
                            v-model="product.name"
                            label="Nome"
                            placeholder="Insira seu nome"
                            required
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12" class="py-0">
                        <v-text-field
                            v-model="product.ref"
                            label="Referência"
                            placeholder="Referência"
                            required
                        ></v-text-field>
                    </v-col>

                    <v-row v-if="!product.id" class="ma-0" >
                        <v-col cols="12" md="6" class="py-0" v-for="(size, key) in sizes" :key="key">
                            <v-row class="ma-0"> 
                                <v-col cols="2" class="pa-0">
                                    <v-checkbox
                                        v-model="size.active"
                                        :label="size.label"
                                    ></v-checkbox>
                                </v-col>
                                <v-col cols="10" class="pl-5 pl-md-10 py-0">
                                    <v-text-field
                                        v-model="size.amount"
                                        v-if="size.active"
                                        label="Quantidade"
                                        placeholder="Quantidade"
                                        required
                                        type="number"
                                    ></v-text-field>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                    
                    <v-row v-else>
                        <v-col class="px-6 py-4">
                            <v-select
                            :items="items"
                            label="Tamanho"
                            v-model="defaultSelected"
                            item-text="sizeName"
                            item-value="sizeId"
                            return-object
                            dense
                            @change="changeProduct(defaultSelected)"
                            >
                                <template slot="selection" slot-scope="data">
                                    {{ data.item.sizeName }}
                                </template>
                                <template slot="item" slot-scope="data" >
                                    <v-row>
                                        {{ data.item.sizeName }} - {{ data.item.quantityInStock }} disponíveis.
                                    </v-row>
                                </template>
                            </v-select>
                        </v-col>
                    </v-row>

                    <v-col v-if="action !== 'save'" cols="12" class="py-0">
                        <v-text-field
                            v-model="product.quantityInStock"
                            label="Quantidade"
                            placeholder="Quantidade"
                            required
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12" class="py-0">
                        <v-text-field
                            v-model="product.price"
                            label="Preço"
                            placeholder="Insira o preço"
                            required
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12" class="py-0">
                        <v-text-field
                            v-model="product.description"
                            label="Descrição"
                            placeholder="Descreva o produto"
                            required
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12" class="py-0">
                        <v-text-field
                            v-model="product.imageUrl"
                            label="Imagem URL"
                            placeholder="Insira o URL da imagem"
                            required
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" class="py-0" v-if="action==='edit'">
                        <v-btn @click="openModalRemove()"
                        color="#e74c3c"
                        dark
                        ><v-icon class="mr-1">
                            mdi-delete</v-icon> Excluir variante {{ product.sizeName }}
                        </v-btn>
                    </v-col>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="primary"
                        @click="confirmAction"
                    >
                        Confirmar
                    </v-btn>
                    <v-btn
                        color="primary"
                        text
                        @click="dialog = false"
                    >
                        Cancelar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog
            v-model="dialogRemove"
            width="600"
            >
            <v-card>
                <v-card-title class="headline grey lighten-2">
                    Tem certeza que deseja remover este produto?
                </v-card-title>

                <v-card-text class="mt-4 pb-0">
                    <h3>Detalhes do produto</h3>
                    <strong>Nome:</strong> {{ product.name }}<br/>
                    <strong>Ref:</strong> {{ product.sizeName }}<br/>
                    <strong>Quantidade em estoque:</strong> {{ product.quantityInStock }}<br/>
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    text
                    @click="remove"
                >
                    Confirmar
                </v-btn>
                <v-btn
                    color="primary"
                    text
                    @click="dialogRemove = false"
                >
                    Cancelar
                </v-btn>
            </v-card-actions>
            </v-card>
            
            
        </v-dialog>
        
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import service from '@/service'
export default {
	name: 'ProductAdmin',
    data() {
        return{
            defaultSelected: {},
            search: '',
            product: {},
            headers: [
                {value: 'ref', text: 'Referência', sortable: true},
                {value: 'name', text: 'Nome', sortable: true},
                {value: 'price', text: 'Preço', sortable: true},
                {value: 'actions', text: 'Ações'}, 
            ],
            sizes: [
                {label: 'PP', id: 1}, 
                {label: 'P', id: 2}, 
                {label: 'M', id: 3}, 
                {label: 'G', id: 4}, 
                {label: 'GG', id: 5}, 
                {label: 'XG', id: 6}
            ],
            dialog: false,
            titleModal: "",
            textModal: "",
            action: "",
            service,
            items: [],
            dialogRemove: false
        }
    }, 
    computed: {
        ...mapGetters({
            productAction: 'Products/getProduct',
            getAllProductsByRef: 'Products/getAllProductsByRef',
            getProductByRef: 'Products/getProductByRef',
            getLoading: 'Loading/getLoading'
        }),
        products(){
            const productsF = []
            this.getAllProductsByRef.forEach( products => productsF.push(products[0]) )
            return productsF
        }
    },
    methods: {
        ...mapActions({
            saveProduct: 'Products/saveProduct',
            editProduct: 'Products/editProduct',
            removeProduct: 'Products/removeProduct',
            setAllProductsByRef: 'Products/setAllProductsByRef',
            setProductByRef: 'Products/setProductByRef',
            setLoading: 'Loading/setLoading',
            clearLoading: 'Loading/clearLoading'
        }),
        async reset() {
            this.action = null
            this.product = {}
            await this.setAllProductsByRef()
            this.dialog = false
        },
        async edit() {
            delete this.product.size_id
            delete this.product.sizeName
            await this.editProduct(this.product)
            if(this.productAction !== null) await this.reset()  
        },
        async save() {
            this.getSizes()
            await this.saveProduct(this.product)
            if(this.productAction !== null) await this.reset()
        },
        async remove() {
            await this.removeProduct(this.product.id)
            this.dialogRemove = false
            if(this.productAction !== null) await this.reset()
        },
        getProduct(product, metod) {
            this.product = {...product}
            this.openModal(metod)
        },
        getSizes(){
            const sizesActive = this.sizes.filter(size => size.active && size.amount) 
            const sizesActiveFormatted = sizesActive.map(size => {
                return { idSize: size.id, quantityInStock: size.amount }
            })
            this.product.sizes = sizesActiveFormatted
        },
        openModalRemove(){
            this.dialogRemove = true
        },
        async openModal(action) {
            this.action = action
            switch (this.action){
                case 'edit':
                    this.titleModal = "Editar"
                    this.textModal = "Edição de produto"
                    await this.setProductByRef(this.product.ref)
                    this.items = this.getProductByRef.slice().sort( (a, b) => a.size_id < b.size_id ? -1 : 1 )
                    this.setInitialEditProduct()
                    break;
                case 'save':
                    this.titleModal = "Cadastro"
                    this.textModal = "Cadastro de produto"   
                    break;  
            }
            this.dialog = true
        },
        confirmAction() {
            switch (this.action){
                case 'edit':
                   return this.edit()
                case 'save':
                   return this.save()   
            }
        },
        setInitialEditProduct(){
            this.product = this.items[0]
            this.defaultSelected = this.product
        },
        changeProduct(product){
            this.product = product
        },
    },
    async created() {
        this.setLoading()
        await this.setAllProductsByRef()
        this.clearLoading()
    }
    
}
</script>

<style>
</style>