<template>
	<div class="home">
        <PageTitle icon="mdi-home" main="Home" :sub="`${getUser.name}, bem vindo! `" />
        <v-row justify="center" class="ma-0">
            <v-carousel v-if="items.length > 0" class="mt-5 carousel-home">
                <v-carousel-item
                    v-for="item in items"
                    :key="item.id"
                    :src="item.imageUrl"
                    reverse-transition="fade-transition"
                    transition="fade-transition"
                >
                    <div class="text-slide">
                        <v-btn @click="goToProduct(item.id)">Ver produto</v-btn>
                    </div>
                </v-carousel-item>
            </v-carousel>
        </v-row>
    </div>
</template>

<script>
import PageTitle from '../template/PageTitle'
import { mapActions, mapGetters } from 'vuex';


export default {
	name: 'Home',
    components: {
        PageTitle
    },
    data(){
        return {
            mainArticle: {},
            items: []
        }
    },
    computed: {
		...mapGetters({
            getUser: 'Auth/getUser',
            getAllProducts: 'Products/getProducts'
        })
	},
    methods: {
        ...mapActions({
            setUserById: 'Users/setUserById',
            setAllProducts: 'Products/setProducts'
        }),
        setThreeProducts(){
            // TEMPORARIO ATÉ FAZER PRINCIPAIS IMAGENS!
            this.items.push(this.getAllProducts[0])
            this.items.push(this.getAllProducts[12])
            this.items.push(this.getAllProducts[7])
        },
        goToProduct(id){
            this.$router.push({path: `product/${id}`})
        }
    },
    async created() {
        await this.setAllProducts()
        this.setThreeProducts()
    }
}
</script>

<style scoped>
    .home .article-content{
        margin: auto;
        background-color: #FFF;
        max-width: 75%;
        border-radius: 8px;
        padding: 25px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .home .article-content pre {
        padding: 20px;
        border-radius: 8px;
        font-size: 1.2rem;  
    }
    .home .article-content img{
        max-width: 100%;
    }
    .home .article-item-image img {
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .home .article-content :last-child {
        margin-bottom: 0%;
    }
    .home .text-slide{
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .home .carousel-home{
        max-width: 700px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    }
</style>