<template>
	<div class="user-admin">
        <v-row :justify="$vuetify.breakpoint.mdAndUp? 'start' : 'center'" class="ma-0 px-md-3 pt-md-3 pt-6">
            <h2> Gerenciar Pedidos </h2>
        </v-row>
        <v-col cols="12">
            <v-data-table
                :headers="headers"
                :items="sales"
                :items-per-page="5"
                :sort-by="['id']"
                :sort-desc="[true]"
                class="elevation-1"
                :search="search"
            >
                <template v-slot:top>
                    <v-col cols="12" md="4" class="pa-0">
                    <v-text-field
                    v-model="search"
                    label="Pesquisar"
                    class="mx-4"
                    append-icon="mdi-magnify"
                    ></v-text-field>
                    </v-col>
                </template>
                <template v-slot:[`item.actions`]="{ item }">
                    <v-btn @click="goToSaleDetail(item.id)" class="mr-3"><v-icon> mdi-account-edit </v-icon></v-btn>
                    <v-btn @click="openModalRemove(item)"><v-icon>mdi-delete</v-icon></v-btn>
                </template>
                <template v-slot:[`item.fulfilled`]="{ item }">
                    <v-simple-checkbox
                    v-model="item.fulfilled"
                    disabled
                    ></v-simple-checkbox>
                </template>
                <template v-slot:[`item.sale_date`]="{ item }">
                    {{ $moment(item.sale_date).format('DD/MM/YYYY - HH:mm') }}
                </template>
                <template v-slot:[`item.deliveryForecast`]="{ item }">
                    {{ service.deliveryForecast(item.sale_date) }}
                </template>
                <template v-slot:[`item.total_sale`]="{ item }">
                    {{ service.formatCurrency(item.total_sale) }}
                </template>
            </v-data-table>
        </v-col>
        <v-dialog
            v-model="dialogRemove"
            width="600"
            >
            <v-card>
                <v-card-title class="headline grey lighten-2">
                    Tem certeza que deseja remover este pedido?
                </v-card-title>

                <v-card-text class="mt-4 pb-0">
                    <h3>Detalhes do pedido</h3>
                    <strong>ID:</strong> {{ sale.id }}<br/>
                    <strong>Código da revendedora:</strong> {{ sale.userId }}
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    text
                    @click="remove"
                >
                    Confirmar
                </v-btn>
                <v-btn
                    color="primary"
                    text
                    @click="dialogRemove = false"
                >
                    Cancelar
                </v-btn>
            </v-card-actions>
            </v-card> 
        </v-dialog>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import service from '@/service'

export default {
	name: 'SalesAdmin',
    data() {
        return{
            search: '',
            mode: null,
            user: {},
            headers: [
                {value: 'id', text: 'Código'},
                {value: 'sale_date', text: 'Data'},
                {value: 'deliveryForecast', text: 'Previsão de entrega'},
                {value: 'total_sale', text: 'Valor total'},
                {value: 'userId', text: 'Id da revendedora', align: 'center', sortable: false},
                {value: 'fulfilled', text: 'Atendido', align: 'center', sortable: false}, 
                {value: 'actions', text: 'Ações', align: 'center'} 
            ],
            dialog: false,
            titleModal: "",
            textModal: "",
            action: "",
            showEditPass: false,
            service,
            sale: {},
            dialogRemove: false
        }
    }, 
    computed: {
        ...mapGetters({
            sales: 'Sales/getAllSales',
        })
    },
    methods: {
        ...mapActions({
            setAllSales: 'Sales/setAllSales',
            removeSale: 'Sales/removeSale'
        }),
        async remove(){
            await this.removeSale(this.sale.id)
            await this.setAllSales()
            this.dialogRemove = false
        },
        goToSaleDetail(id){
            this.$router.push({path: `/sale/${id}`})
        },
        openModalRemove(sale){
            this.sale = { ...sale }
            this.dialogRemove = true
        }
    },
    async created() {
        await this.setAllSales()     
    }
}
</script>

<style>
</style>