<template>
    <div>
        <div v-if="salesItems.length > 0">
            <PageTitle icon="mdi-wrench" main="Administração de Pedido" 
                :sub="`Pedido #${getSale.id} feito em ${$moment(getSale.sale_date).format('DD/MM/YYYY - HH:mm')} `" 
                class="mb-2"
            />
        </div>
        <v-col cols="12" class="mt-8" v-if="getLoading" align="center">
            <v-progress-circular
            :size="100"
            color="#D70472"
            indeterminate
            ></v-progress-circular>
            <h3 class="subtitles mt-6">Carregando pedidos...</h3>
        </v-col>
        <v-col v-else cols="12" class="pa-0">   
            <v-checkbox
                v-model="getSale.fulfilled"
                label="Atendido"
                @change="edit"
                :readonly="getUser.admin ? false : true"
                hide-details="auto"
                class="mb-1"
            ></v-checkbox>
            Previsão de entrega: {{forecastDate}}
            <v-data-table
                :headers="headers"
                :items="salesItems"
                :items-per-page="5"
                :sort-by="['id']"
                class="elevation-1"
                :search="search"
            >
                <template v-slot:top>
                    <v-col cols="12" md="4" class="pa-0">
                    <v-text-field
                    v-model="search"
                    label="Pesquisar"
                    class="mx-4"
                    append-icon="mdi-magnify"
                    ></v-text-field>
                    </v-col>
                </template>
                <template v-slot:[`item.fulfilled`]="{ item }">
                    <v-simple-checkbox
                    v-model="item.fulfilled"
                    disabled
                    ></v-simple-checkbox>
                </template>
                <template v-slot:[`item.unit_price`]="{ item }">
                    {{ service.formatCurrency(item.unit_price) }}
                </template>
                <template v-slot:[`item.product_id`]="{ item }">
                    REF: {{ item.productRef.toUpperCase() }} - {{ item.productName }}
                </template>
                <template v-slot:[`item.total_price`]="{ item }">
                    {{ service.formatCurrency(item.total_price) }}
                </template>
            </v-data-table>
            <v-row class="ma-0 mt-4" justify="end">
                <h3>Valor total: {{ service.formatCurrency(getSale.total_sale) }}</h3>
            </v-row>
        </v-col>
        <v-col>
            <v-btn dark @click="previousPage" class="mt-3">Voltar</v-btn>
        </v-col>
        
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import service from '@/service'
import PageTitle from '@/components/template/PageTitle'
export default {
	name: 'SaleDetail',
    components: { PageTitle },
    data() {
        return{
            headers: [
                {value: 'id', text: 'Código do item'},
                {value: 'product_id', text: 'Produto'},
                {value: 'sizeName', text: 'Tamanho'},
                {value: 'unit_price', text: 'Valor unidade'},
                {value: 'amount', text: 'Quantidade'},
                {value: 'total_price', text: 'Valor total'},
                {value: 'userName', text: 'Revendedora', sortable: false}, 
            ],
            search: '',
            sale: {},
            salesItems: [],
            product: {},
            service,
            forecastDate: "",
        }
    }, 
    computed: {
        disableRemove() {
            const admins = this.users.filter( user => user.admin)
            return admins.length <= 1 && this.user.admin
        },
        ...mapGetters({
            getSalesItemsBySaleId: 'Sales/getSalesItemsBySaleId',
            getProductById: 'Products/getProductById',
            getUserById: 'Users/getUserById',
            getLoading: 'Loading/getLoading',
            getSale: 'Sales/getSale',
            getUser: 'Auth/getUser'
        })
    },
    methods: {
        ...mapActions({
            setSalesItemsBySaleId: 'Sales/setSalesItemsBySaleId',
            setProductById: 'Products/setProductById',
            setUserById: 'Users/setUserById',
            clearLoading: 'Loading/clearLoading',
            setLoading: 'Loading/setLoading',
            setSaleById: 'Sales/setSaleById',
            editSale: 'Sales/editSale'
        }),
        previousPage(){
            this.$router.go(-1)
        },
        async formatSales(){
            await this.setUserById(this.getSalesItemsBySaleId[0].userId)
            const salesF = this.getSalesItemsBySaleId.map( async sale => { 
                await this.setProductById(sale.product_id)
                return { 
                    ...sale, 
                    productName: this.getProductById.name, 
                    productRef: this.getProductById.ref,
                    size_id: this.getProductById.size_id,
                    userName: this.getUserById.name
                }
            }) 
            const salesPromiseResolved = await Promise.all(salesF)
                .then((values) => values);
            return salesPromiseResolved
        },
        async edit(){
            await this.editSale(this.getSale)
        },
        setSizesName(){
            this.salesItems.forEach(sale => {    
                switch(sale.size_id){
                    case 1: 
                        sale.sizeName = 'PP' 
                        break
                    case 2: 
                        sale.sizeName = 'P' 
                        break
                    case 3: 
                        sale.sizeName = 'M' 
                        break
                    case 4: 
                        sale.sizeName = 'G' 
                        break
                    case 5: 
                        sale.sizeName = 'GG' 
                        break
                    case 6: 
                        sale.sizeName = 'XG' 
                        break
                }
            })
        }
    },
    async created() {
        this.setLoading()
        await this.setSalesItemsBySaleId(this.$route.params.id)
        this.salesItems = await this.formatSales()
        await this.setSaleById(this.$route.params.id)
        this.forecastDate = this.service.deliveryForecast(this.getSale.sale_date)
        this.setSizesName()
        this.clearLoading()
    }
}
</script>

<style>

</style>