<template>
    <v-row class="ma-0 my-profile">
        <v-col cols="12" class="pa-0">
            <PageTitle icon="mdi-calendar-clock" main="Meu perfil" sub="Gerencie seus dados cadastrais." />
        </v-col>
        <v-col class="pa-0">
            <v-col cols="12" class="mt-8" v-if="getLoading" align="center">
                <v-progress-circular
                :size="100"
                color="#ff7979"
                indeterminate
                ></v-progress-circular>
                <h3 class="subtitles mt-6">Atualizando os dados...</h3>
            </v-col>
            <v-row v-else class="ma-0 mt-5">
                <v-col cols="12" md="6" class="pr-0 pr-md-3 pl-0 py-0">
                    <v-text-field
                        v-model="profile.name"
                        label="Nome"
                        placeholder="Insira seu nome"
                        required
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="6" class="pa-0">
                    <v-text-field
                        v-model="profile.cpf"
                        label="CPF"
                        placeholder="Insira seu CPF"
                        readonly
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="6" class="pr-0 pr-md-3 pl-0 py-0">
                    <v-text-field
                        v-model="profile.email"
                        label="Email"
                        placeholder="Insira seu email"
                        readonly
                        required
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="6" class="pr-0 pa-0">
                    <v-text-field
                        v-model="getPerfilPermission"
                        label="Perfil"
                        required
                        readonly
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="6" class="pr-0 pr-md-3 pl-0 py-0">
                    <v-text-field
                        v-model="profile.adress"
                        label="Endereço"
                        placeholder="Insira seu endereço"
                        required
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="6" class="pa-0">
                    <v-text-field
                        v-model="profile.cep"
                        label="CEP"
                        placeholder="Insira seu endereço"
                        required
                    ></v-text-field>
                </v-col>                
                <v-col cols="12" md="6" class="px-0 pr-md-3 py-0" :class="(changePass && $vuetify.breakpoint.mdAndUp) ? 'mb-3' : 'mb-0'">
                    <v-btn :class="$vuetify.breakpoint.mdAndDown ? 'btn-edit' : ''"
                        @click="togglePass" 
                        color="#ffcccc"
                    >
                        <span v-if="!changePass">Alterar minha senha</span> 
                        <span v-else >Cancelar alteração de senha</span> 
                    </v-btn>
                </v-col>
                <v-col v-if="changePass && $vuetify.breakpoint.mdAndUp" />
                <v-col v-if="changePass" cols="12" md="6" class="pr-0 pr-md-3 pl-0 py-0">
                    <v-text-field
                        v-model="profile.password"
                        label="Senha"
                        placeholder="Insira a nova senha"
                        required
                        type="password"
                    ></v-text-field>
                </v-col>
                <v-col v-if="changePass" cols="12" md="6" class="pr-0 pr-md-3 pl-0 py-0">
                    <v-text-field
                        v-model="profile.confirmPassword"
                        label="Confirmar senha"
                        placeholder="Confirme a nova senha"
                        required
                        type="password"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" md="6" class="px-0 pr-md-3 py-0">
                    <v-btn :class="$vuetify.breakpoint.mdAndDown ? 'btn-edit' : '' "
                        @click="edit" 
                        color="#ff7979" 
                        dark
                    >
                        Confirmar alterações
                    </v-btn>
                </v-col>
            </v-row>
        </v-col>
    </v-row>
</template>

<script>
import PageTitle from '@/components/template/PageTitle'
import { mapGetters, mapActions } from 'vuex';
import service from '@/service'
export default {
    name: 'Profile',
    components: { PageTitle },
    data() {
        return { 
            profile: {},
            changePass: false,
            service
        }
    },
    computed: {
		...mapGetters({
            getUser: 'Auth/getUser',
            getLoading: 'Loading/getLoading',
            getUserById: 'Users/getUserById'
        }),
        getPerfilPermission(){
            if(this.profile.admin) return 'Administrador'
            if(this.profile.reseller) return 'Revendedora'
            return 'Inativo'
        }
	},
    methods: {
        ...mapActions({
            editUser: 'Users/editUser',
            clearLoading: 'Loading/clearLoading',
            setLoading: 'Loading/setLoading',
            setUserById: 'Users/setUserById'
        }),
        togglePass(){
            this.profile.password = undefined
            this.profile.confirmPassword = undefined
            this.changePass = !this.changePass
        },
        async edit(){
            this.setLoading()
            this.profile.cpf = this.service.cleanDocument(this.profile.cpf)
            this.profile.cep = this.service.cleanCep(this.profile.cep)
            await this.editUser(this.profile)
            await this.setUserById(this.profile.id)
            this.profile = this.getUserById
            this.profile.cpf = this.service.documentFormat(this.profile.cpf)
            this.profile.cep = this.service.cepFormat(this.profile.cep)
            this.clearLoading()
        },
        setDefaultProfile(){
            this.profile = {
                id: this.getUser.id,
                name: this.getUser.name,
                cpf: this.service.documentFormat(this.getUser.cpf),
                email: this.getUser.email,
                reseller: this.getUser.reseller,
                admin: this.getUser.admin,
                cep: this.service.cepFormat(this.getUser.cep),
                adress: this.getUser.adress
            }
        }
    },
    created(){
        this.setDefaultProfile()    
    }

}
</script>

<style>
    .my-profile .btn-edit{
        width: 100%;
        margin-bottom: 15px;
    }
</style>