<template>
	<div class="content ma-0 py-6 px-6 pa-md-12">
        <router-view></router-view>
    </div>
</template>

<script>
export default {
	name: 'Content'
}
</script>

<style>
    .content {
        grid-area: content;
        background-color: #efefef;
    }
</style>