<template>
    <div class="toggle-menu">
        <div v-if="user" class="btn-toggle" @click="setToggleMenu()">
            <v-icon color="#fff" class="icon"> {{icon}} </v-icon>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
export default {
    computed: {
        icon() {
            return this.getToggleMenu ? 'mdi-menu-left' : 'mdi-menu-right'
        },
        ...mapGetters({
            getToggleMenu: 'Auth/getIsMenuVisible',
            user: 'Auth/getUser'
        })
    },
    methods: {
        ...mapActions({
            setToggleMenu: 'Auth/toggleMenu'
        })    
    }
}
</script>

<style>
    .toggle-menu {
        grid-area: toggleMenu;
        padding-top: 60px;
        background-color: #efefef;
        z-index: 5;
    }
    .toggle-menu .btn-toggle{
        position: -webkit-sticky;
        position: sticky;
        top: 60px;
        display: flex;
        width: 20px;
        height: 50px;
        justify-content: flex-start;
        background-color: #414345;
        border-top-right-radius: 7px; 
        border-bottom-right-radius: 7px; 
        cursor: pointer;
    }
    .toggle-menu .icon{
        margin-left: -3px;
    }
</style>