<template>
	<div class="user-dropdown">
        <div class="user-button">
            <span class="d-none d-sm-block"> {{ user.name }} </span>
            <div class="user-dropdown-img">
                <Gravatar :email="user.email" alt="User" />
            </div>
        </div>
        <div class="user-dropdown-content">
            <div class="limit-container">
                <v-icon dense>mdi-cash</v-icon> Limite: {{ service.formatCurrency(user.limit) }}
            </div>
            
            <router-link to="/admin" v-if="user.admin">
                <v-icon dense>mdi-wrench</v-icon> Administração
            </router-link>
            <router-link to="/profile">
                <v-icon>mdi-account</v-icon> Meu Perfil
            </router-link>
            <router-link to="/cart">
                <v-icon>mdi-cart</v-icon> Carrinho
            </router-link>
            <a @click.prevent="logout">
                <v-icon>mdi-logout</v-icon> Sair
            </a>
        </div>
    </div>
</template>

<script>
import { userKey } from '@/global'
import {  mapActions, mapGetters } from 'vuex';
import Gravatar from 'vue-gravatar'
import service from '@/service'

export default {
	name: 'UserDropDown',
    data() {
        return{
            service,
        }
    },
    components: { Gravatar },
     computed: {
        ...mapGetters({
            user: 'Auth/getUser',
        })
    },
    methods: {
        ...mapActions({
            setUser: 'Auth/setUser',
            setToggleMenu: 'Auth/toggleMenu'
        }),
        logout(){
            localStorage.removeItem(userKey)
            this.setUser(null)
            this.$router.push({ name: 'auth' })
        },
    }
}
</script>

<style>
    .user-dropdown{
        position: relative;
        height: 100%;
    }
    .user-button{
        display: flex;
        align-items: center;
        color: #fff;
        font-weight: 100;
        height: 100%;
        padding: 0 20px;
    }
    .user-dropdown:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .limit-container {
        text-decoration: none;
        padding: 10px;
        color: #777 !important;
    }
    .user-dropdown-img {
        margin: 0 10px;
    }
    .user-dropdown-img img{
        max-height: 37px;
        border-radius: 5px;
    }
    .user-dropdown-content {
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        padding: 10px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }
    .user-dropdown:hover .user-dropdown-content {
        visibility: visible;
        opacity: 1;
    }
    .user-dropdown-content a{
        text-decoration: none;
        color: #000;
        padding: 10px;
        cursor: pointer;
        color: #777 !important;
    }
    .user-dropdown-content a:hover{
        text-decoration: none;
        color: #000;
        background-color: #EDEDED;
    }
    .user-dropdown-content i{
        margin-right: 4px;
    }
</style>