<template>
    <div class="cart">
        <v-row>
            <v-col cols="12">
                <PageTitle icon="mdi-cart" main="Carrinho" sub="Gerencie seu carrinho." />
            </v-col>
        </v-row>
        <v-row v-if="getCart.length > 0" justify="center" class="mt-5">
            <v-col cols="12" md="5">
                <v-row>
                    <v-col cols="12" class="card-item py-1"
                    v-for="(product, key) in getCart"
                    :key="key">
                        <v-card class="card-content">
                            <v-row class="ma-0">
                                <v-col cols="5" md="3" class="col-img" >
                                    <div class="img-test">
                                        <v-img
                                            class="cart-img"
                                            :src="product.imageUrl"
                                        ></v-img>
                                    </div>
                                </v-col>
                                <v-col cols="7" md="9">
                                    <v-row justify="end" class="ma-0 px-3 pr-6">
                                        <v-col cols="1" class="py-0">
                                            <v-btn icon @click="removeItem(key)">
                                                <v-icon>mdi-close</v-icon>
                                            </v-btn>
                                        </v-col>
                                    </v-row>

                                    <v-card-text class="pb-7 cart-item" @click="toProduct(product.id)">
                                        <v-row>
                                            <v-col cols="12" class="cart-description-item pt-0">
                                                <span class="color-text">REF:</span> {{product.ref}}<br/>
                                                {{product.name }}<br/>
                                                <span class="color-text">Tamanho:</span> {{product.sizeName}} <br/>
                                                {{ service.formatCurrency(product.price) }} <br/>
                                                <span class="color-text">Quantidade:</span> {{product.amount}} 
                                                <hr class="my-3">
                                                <strong><span class="color-text"> Total:</span> {{ service.formatCurrency(product.amount * product.price) }} </strong>
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>
            </v-col>
            <v-col cols="12" md="4" class="py-1 mt-md-0 mt-3">
                <v-row class="cart-summary ma-0">
                    <v-col cols="12" >
                        <h3>Resumo do pedido</h3>
                        <hr class="my-3" />
                        <strong>Subtotal:</strong> {{ service.formatCurrency(subTotal) }} <br/>
                        <strong>Comissão:</strong> {{ service.formatCurrency(subTotal * commission) }} <br/>
                        <strong>Total a pagar:</strong> {{ service.formatCurrency( subTotal - (subTotal * commission) ) }} <br/>
                        <v-row class="ma-0">
                            <v-col cols="12" md="6" class="px-0 py-3">
                                <v-btn color="#ff7979" class="py-6 py-md-5" @click="sendSale" dark>Enviar pedido</v-btn>
                            </v-col>
                            <v-col cols="12" md="6" class="px-0 py-3 pl-md-3">
                                <v-btn color="#ffcccc" class="py-6 py-md-5" @click="clearCart">Limpar carrinho</v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <v-row v-else>
            <v-col>
                Carrinho vazio. <router-link exact to="/products" class="nav-bar"> Ir para o catálogo. </router-link>
            </v-col>
        </v-row>
        
        <v-dialog
            v-model="dialogSale"
            width="450"
            >
            <v-card>
                <v-col v-if="getLoading" cols="12" align="center" class="py-12">
                    <v-progress-circular
                        :size="100"
                        color="#ff7979"
                        indeterminate
                    ></v-progress-circular>
                    <h3 class="subtitles mt-6">Enviando pedido...</h3>
                </v-col>
                <v-col v-else cols="12" class="px-0">
                    <v-container v-if="getSale.id" class="pa-0">
                        <v-card-title class="headline grey lighten-2">
                            <v-row justify="center" class="ma-0">
                                Pedido enviado!
                            </v-row>
                        </v-card-title>

                        <v-card-text class="mt-4 pb-0">
                            <center>
                                <h2>Recebemos seu pedido!</h2>
                                <h3>Número do pedido: #{{ getSale.id }} </h3>
                                <h3>Total: {{ service.formatCurrency(getSale.total_sale) }} </h3>
                                <h3>Previsão de entrega: {{ service.deliveryForecast(getSale.sale_date) }} </h3>
                            </center>
                        </v-card-text>
                        <v-card-actions>
                            <v-col class="pa-2">
                                <v-row class="ma-0" justify="center">
                                    <v-col md="8" cols="12" class="pa-0 mb-3">
                                        <v-btn
                                            class="btn-modal-cart"
                                            color="#ff7979"
                                            dark
                                            @click="toSaleId()"
                                        >
                                            Ver pedido
                                        </v-btn>
                                    </v-col>
                                    <v-col md="8" cols="12" class="pa-0">
                                        <v-btn
                                            class="btn-modal-cart"
                                            color="#ffcccc"
                                            @click="toProducts"
                                        >
                                            Continuar comprando
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </v-col>
                        </v-card-actions>
                    </v-container>
                    <v-container v-else class="pa-0">
                        <center>{{ getSale }}</center>
                    </v-container>
                </v-col>
            </v-card>            
        </v-dialog>
    </div>
</template>

<script>
import PageTitle from '@/components/template/PageTitle'
import { mapActions, mapGetters } from 'vuex';
import { cartKey } from '@/global'
import service from '@/service'
export default {
    components: { PageTitle },
    data(){
        return{
            service,
            commission: 0.2,
            dialogSale: false
        }
    },
    computed: {
        ...mapGetters({
            getCart: 'Sales/getCart',
            getLoading: 'Loading/getLoading',
            getSale: 'Sales/getSale'
        }),
        subTotal(){
            return this.getCart.map(item => item.amount * item.price )
                .reduce((accumulator, currentValue) => 
                    parseFloat(accumulator) + parseFloat(currentValue))     
        }
    },
    methods: {
        ...mapActions({
            setProductToCart: 'Sales/setProductToCart',
            setSale: 'Sales/setSale',
            setClearCart: 'Sales/clearCart',
            removeItemFromCart: 'Sales/removeItemFromCart',
            setLoading: 'Loading/setLoading',
            clearLoading: 'Loading/clearLoading'
        }),
        async sendSale(){
            this.setLoading()
            
            if(await this.setSale(this.getCart)) {
                this.dialogSale = true
                localStorage.setItem(cartKey, JSON.stringify([]))
                await this.setProductToCart(null)
            }
            this.clearLoading()
        },
        async clearCart(){
            await this.setClearCart()
            await this.setProductToCart(null)
        },
        async removeItem(id){
            this.removeItemFromCart(id)
            await this.setProductToCart(null)
        },
        toProduct(id){
            this.$router.push({path:`/product/${id}`})
        },
        toProducts(){
            this.$router.push({path:`/products`})
        },
        toSaleId(){
            this.$router.push({path:`/sale/${this.getSale.id}`})
        }
    },
    async created(){
        await this.setProductToCart(null)
    }

}
</script>

<style>
    .cart .card-item{
        height: 100%;
    }
    .cart .card-content{
        height: 100%;
        background-color: #fff;
    }
    .img-test{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin: auto;
    }
    .cart-img{
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);;
        border-radius: 4px;
        margin: auto;
        max-width: 90%;
        max-height: 90%;
    }
    .cart button{
        width: 100%;
    }
    .cart-item{
        cursor: pointer;
    }
    .cart-summary{
        background-color: #fff;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
    .cart .cart-description-item{
        color: black;
    }
    .cart .color-text{
        color: #ff7979;
    }
    .col-img{
        background-color: #ff7979;
    }
    .btn-modal-cart{
        width: 100%;
    }
</style>